@import 'tailwindcss';

@property --shimmer-angle {
   syntax: '<angle>';
   inherits: false;
   initial-value: 0deg;
}

@keyframes shimmer {
   0% {
      --shimmer-angle: 0deg;
   }
   100% {
      --shimmer-angle: 360deg;
   }
}
